<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma première page réalisée seul !</title>
  </head>
  <body>
      <h1>Bye Bye, {{ prenom }} {{ nom|upper }}</h1>

    <p>
      Le Bye Bye World est un grand classique en programmation.
      Il signifie énormément, car cela veut dire que vous avez
      réussi à exécuter le programme pour accomplir une tâche simple :
      afficher ce bye bye world !
    </p>
  </body>
</html>