{# empty Twig template #}

<!DOCTYPE html>
<html>
    <head>
        <title>Affichage de l'annonce {{ id }}</title>
    </head>
    <body>
        <h1>Hello Annonce n°{{ id }} !</h1>
        <p>Tag éventuel : {{ tag }}</p>
        <p>User id de la session : {{ userId }}</p>

        <div>
            {# On affiche tous les messages flash dont le nom est « info » #}
            {% for message in app.session.flashbag.get('info') %}
                <p>Message flash : {{ message }}</p>
            {% endfor %}
        </div>

        <p>
            Ici nous pourrons lire l'annonce ayant comme id : {{ id }}<br />
            Mais pour l'instant, nous ne savons pas encore le faire, cela viendra !
        </p>
    </body>
</html>