<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
  </head>
  <body>
      <h1>Hello {{ nom }}</h1>
      <h2>Vous êtes à la page : {{ page }}</h2>

    <p>
      Le Hello World est un grand classique en programmation.
      Il signifie énormément, car cela veut dire que vous avez
      réussi à exécuter le programme pour accomplir une tâche simple :
      afficher ce hello world !
    </p>
    <p>
        voici l'url absolue générée par le contôler : {{ url }}
    </p>
    <p>
        voici l'url absolue générée par twing : {{ url('oc_platform_view', {'id' : 5}) }}
    </p>
    <p>
        voici l'url relative générée par twing : {{ path('oc_platform_view', {'id' : 5}) }}
    </p>
  </body>
</html>
